<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87401107547-564kli4tj2libiv24ga1ddhdkfj4hvbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87401107547-564kli4tj2libiv24ga1ddhdkfj4hvbk</string>
	<key>API_KEY</key>
	<string>AIzaSyAnrDMc0_pSx77OcdnaU4VwiStGCEHng-w</string>
	<key>GCM_SENDER_ID</key>
	<string>87401107547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bankidz.bankidzapp</string>
	<key>PROJECT_ID</key>
	<string>bankidfcm</string>
	<key>STORAGE_BUCKET</key>
	<string>bankidfcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87401107547:ios:d48d5a470661b760556f7e</string>
	<key>DATABASE_URL</key>
	<string>https://bankidfcm-default-rtdb.firebaseio.com</string>
</dict>
</plist>